.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.scale-main {
  background-image: linear-gradient(to right, blue , red);
  width: 50vw;
  height: 2vh;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.scale-marker {
  background: radial-gradient(#fafafa, #9198e5);;
  width: 2vw;
  height: 2vw;
  border-radius: 50px;
}

.invisible-scale-marker {
  width: 2vw;
  height: 2vw;
  border-radius: 50px;
}

.invisible-box {
  width: 24vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
