@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* App.js */
.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fafafa;
}

/* Scale Component */
.scale-container {
  background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(./components/images/pexels-life-matters-4613879.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invisible-container {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.scale-info {
  text-align: left;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scale-main-container {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.markers {
  width: 78vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 4vh 0;
}

.scale-main {
  background-image: linear-gradient(to right, blue , red);
  width: 75vw;
  height: 3vh;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

/* Scale Marker Component */
.scale-marker {
  padding: 0.5vh;
  width: 3vw;
  height: 3vw;
  border-radius: 50px;
}

.democrat {
  background-color: rgb(0, 191, 255);
}

.republican {
  background-color: red;
}

.scale-marker:hover {
  cursor: pointer;
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Mainform */
.mainform-container {
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(./components/images/mainform-cover.jpg);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;
  text-align: left;
}

.caption {
  text-align: left;
  padding: 1vw 5vw;
}

.main-form {
  padding: 1vw 5vw;
}

.special-font {
  background: -webkit-linear-gradient(blue,red);
  background: linear-gradient(to right, rgb(140, 225, 253) , rgb(248, 133, 133)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-button {
  padding-top: 1vh;
}

/* About */
.about-container {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(./components/images/pexels-luis-quintero-2833037.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-vector {
  object-fit: cover;
  height: 17vw;
  width: 17vw;
  border-radius: 360px;

}
.about-info {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-main-container {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* TweetForm */
.tweetform-container {
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(./components/images/pexels-gabby-k-5849560.jpg);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;
  text-align: left;
}